<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToDo2.ToDo2Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToDo2.ToDo2Settings>
            <setting name="AutoUpdateBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSavePassKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>1648</value>
            </setting>
            <setting name="PassKey" serializeAs="String">
                <value>ToDo1234567890</value>
            </setting>
            <setting name="SelectFileDefaultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="bg1" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="noticeMusic" serializeAs="String">
                <value />
            </setting>
            <setting name="EndMusic" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>331</value>
            </setting>
            <setting name="WindowHeigh" serializeAs="String">
                <value>658</value>
            </setting>
            <setting name="StaticTimeDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.8</value>
            </setting>
        </ToDo2.ToDo2Settings>
    </userSettings>
</configuration>